/* GENERICS */
:root {
  /* PALETTE COLORI */
  --black: #000000;
  --white: #ffffff;
  --blue: #b4d0e7;
  --btn: #0061ff;
  --grey: #f5f5f5;
  --cd-st: #a2d39b;
  --cdl-nd: #61082b;
  --cdl-rd: #0093ce;
  --cdl-th: #ff1c1c;
  --cdr-st: #d5001f;
  --cdr-nd: #b4d0e7;
  --cdr-rd: #0d2481;
  --cdr-th: #ffd830;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1180px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

li a {
  color: var(--black);
  text-decoration: none;
}

/* UTILS */
.flex {
  display: flex;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

/* STRUCTURE */

/* HEADER */
header {
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
}

nav {
  height: 100px;
}

.list-r > li {
  line-height: 100px;
  margin: 0px 8px;
}

.list-l > li {
  line-height: 100px;
  margin: 0px 8px;
}

/* LOGO DROPBOX */
li img {
  height: 20px;
}

/* BTN NAV-R */
.list-r li:last-child {
  background-color: var(--btn);
  padding: 5px 10px;
}

.list-r li:last-child a {
  color: var(--white);
}

/* DEBUG */
.bordered {
  border: 1px solid black;
}
