/* GENERICS */
:root {
  /* PALETTE COLORI */
  --black: #000000;
  --white: #ffffff;
  --blue: #b4d0e7;
  --btn: #0061ff;
  --grey: #f5f5f5;
  --cdl-st: #a2d39b;
  --cdl-nd: #61082b;
  --cdl-rd: #0093ce;
  --cdl-th: #ff1c1c;
  --cdr-st: #d5001f;
  --cdr-nd: #b4d0e7;
  --cdr-rd: #0d2481;
  --cdr-th: #ffd830;
  --border: #7e7e7e;
  --h2-r: #61082b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 1920px;
  margin: 0 auto;
}

/* IMMAGINI */
img {
  max-width: 100%;
}

/* LISTE */
ul {
  list-style-type: none;
}

li {
  display: inline;
}

li a {
  color: var(--black);
  text-decoration: none;
}

/* TITOLI */
h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

h5 {
  font-size: 15px;
}

/* UTILS */
/* MARGINE SEZIONI */
.paragrafo {
  padding-top: 130px;
}

/* HUNDLE */
.hundle {
  margin: 40px 0 50px;
}

hr {
  color: var(--border);
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

/* WIDTH */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

/* CONTAINER */
.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-70 {
  width: 1180px;
  margin: 0 auto;
}

.container-60 {
  width: 1000px;
  margin: 0 auto;
}
/* BOTTONE */
.btn {
  background-color: var(--btn);
  padding: 10px 20px;
}

/* STRUCTURE */

/* HEADER */
header {
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

nav {
  min-height: 80px;
}

.list-l {
  align-items: center;
}

.list-l > li {
  line-height: 80px;
  margin: 0px 15px;
}

.list-r > li {
  line-height: 80px;
  margin: 0px 15px;
}

/* LOGO DROPBOX */
li img {
  height: 25px;
  display: block;
}

.list-r li:last-child a {
  color: var(--white);
}

/* PADDING FIXED */
header + * {
  padding-top: 50px;
}

/* MAIN */

/* BACKGROUND */
.background {
  width: 100%;
  background-color: var(--blue);
  min-height: 300px;
}

/* JUMBOTRON */
.jumbo-items * {
  z-index: 2;
}

.jumbo-items.flex {
  align-items: flex-start;
}

.info {
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
}

.image {
  width: 70%;
}

.title h1 {
  font-size: 62px;
  text-align: left;
  padding: 100px 0 75px 0;
}

.info .btn {
  display: inline-block;
  color: var(--white);
}

.info .arrow {
  font-size: 50px;
  margin-top: 60px;
}

.blocco {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  background-color: var(--white);
  z-index: 0;
}

/* FIRST SECTION */
.effect .container-60 > h2 {
  margin: 80px 0;
}

.container-60 > span {
  margin-right: 30px;
}

/* COL-3 */
.cont-col {
  justify-content: space-between;
  margin-top: 50px;
}

.col-3 {
  width: 300px;
  min-height: 200px;
  border: 1px solid var(--border);
}

.header-col {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid var(--border);
}

.c-col {
  width: 80%;
  margin: 0 auto;
}

.c-col > h3 {
  margin: 40px 0 25px;
}

.c-col > h5 {
  margin-bottom: 20px;
}

.article {
  color: var(--border);
  margin-bottom: 45px;
}

.c-col ul {
  flex-direction: column;
}

.c-col ul li {
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
}

.c-col .btn {
  display: block;
  color: var(--white);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

.check {
  margin-top: 35px;
}

.check li span {
  color: var(--btn);
}

/* BED CARD */
.bed {
  width: 100%;
  margin-top: 50px;
  border: 1px solid var(--border);
  margin-bottom: 150px;
}

.header {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid var(--border);
}

.c-bed {
  width: 95%;
  margin: 0 auto;
  align-items: flex-start;
}

.text {
  width: 75%;
  margin-top: 35px;
}

.text h3 {
  margin-bottom: 20px;
}

.text h5 {
  margin-bottom: 55px;
}

.text p {
  margin-bottom: 30px;
}

.c-bed .btn {
  display: block;
  color: var(--white);
  width: 25%;
  text-align: center;
  margin-top: 35px;
}

/* SECOND SECTION */
.image-nd {
  width: 60%;
}

.info-nd {
  width: 40%;
}

.c-info {
  width: 80%;
  margin: 0 auto;
}

.c-info h3 {
  margin: 60px 0 25px;
}

.c-info p {
  margin-bottom: 30px;
}

.c-info .btn {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

/* THIRD SECTION */
.c-cards {
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  width: 30%;
  margin-bottom: 40px;
}

.c-cards .central {
  margin: 0px 50px;
}

.cards h3 {
  margin-bottom: 40px;
}

/* FOURTH SECTION */
.paragrafo .container-60 h2 {
  padding-bottom: 50px;
}

/* FIFTH SECTION */
.sponsor {
  width: calc(100% / 3);
  min-height: 640px;
  flex-wrap: wrap;
  background-color: var(--grey);
}

.sponsor .container-80 {
  width: 80%;
  margin: 50px auto 0;
}

.sign {
  margin-top: 30px;
}

.sponsor > div {
  height: 320px;
  min-width: 100px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.kube img {
  width: 50%;
  height: 50%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(267deg)
    brightness(107%) contrast(101%);
}

/* KUBE COLOR */
.kube.st-1 {
  background-color: var(--cdl-st);
}

.kube.nd-1 {
  background-color: var(--cdl-nd);
  color: var(--white);
}

.kube.rd-1 {
  background-color: var(--cdl-rd);
  align-items: end;
}

.kube.th-1 {
  background-color: var(--cdl-th);
}

.kube.st-2 {
  background-color: var(--cdr-st);
}

.kube.nd-2 {
  background-color: var(--cdr-nd);
}

.kube.rd-2 {
  background-color: var(--cdr-rd);
}

.kube.th-2 {
  background-color: var(--cdr-th);
}

/* SIXTH SECTION */
.background > .flex {
  justify-content: space-between;
  align-items: center;
}

.background .flex h2 {
  color: var(--h2-r);
}

.flex .btn.b-whi {
  background-color: var(--white);
  display: inline-block;
  color: var(--black);
  padding: 10px 20px;
}

/* FAQ */
.faq h2 {
  border-bottom: 1px solid var(--border);
}

.quest {
  min-height: 100px;
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  align-items: center;
}

.quest span {
  margin-right: 40px;
}

/* FOOTER */
footer {
  background-color: var(--black);
  padding: 130px 0;
}

.footer-sec.flex {
  justify-content: space-between;
  margin-bottom: 100px;
}

.col-5 h3 {
  color: var(--white);
  margin-bottom: 40px;
}

.white {
  flex-direction: column;
}

.white li {
  color: var(--white);
  margin-bottom: 20px;
}

.language {
  color: var(--border);
}

.language i {
  margin: 0px 10px 0px 5px;
}

/* DEBUG */
.bordered {
  border: 1px solid var(--black);
}
